:root {
    --headerBack: #1e4844;
    --headerText: #678482;
    --borderColor: #f69664;
    --hoverBorder: #d05e2b;
}

body {
    background: #d7e7df;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: auto;
}

h2 {
    font-size: 28px;
    color: var(--headerBack);
}

/* Styling for header elements */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--headerBack);
    color: var(--headerText);
    padding: 4px 40px 4px 0;
}

h1 {
    font-size: 32px;
    background: var(--headerText);
    color: var(--headerBack);
    padding: 4px 8px 4px 24px;
    margin: 8px;
    margin-left: 0px;
}

nav a {
    color: var(--headerText);
    text-decoration: none;
    padding: 4px;
    margin-left: 4px;
    border-bottom: 4px solid var(--headerText);
}

/* Styling for figure and decorative background image */
figure {
    display: flex;
    justify-content: flex-end;
    height: 280px;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 40px;
    /* Photo licensed under CC0 Public Domain, taken by Lynn Greyling */
    background-image: url("../images/terracotta-roof-tiles.jpg");
    background-size: cover;
    background-position: center;
}

figure h2{
    align-self: flex-end;
    padding: 8px;
    background: var(--headerText);
}

/* Styling for each row in main body */

p {
    margin-bottom: 8px;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 10px 40px 20px 0px;
}

.row h2 {
    width: 16%;
    text-align: right;
    margin-right: 8px;
}

.row article, .row nav {
    width: 84%;
    padding-left: 16px;
    border-left: 4px solid var(--headerBack);
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.card {
    border: 4px solid var(--borderColor);
    height: 400px;
    min-width: 400px;
    margin: 8px;
    background-size: cover;
    background-position: center;
}

/* Set background images for project card links */
#projectOne {
    /* Photo licensed under CC0 Public Domain, taken by Brunhilde Reinig */
    background-image: url("../images/sonne-44421290538258Oxe.jpg");
}

#projectTwo {
    /* Photo licensed under CC0 Public Domain, taken by Ken Kistler*/
    background-image: url("../images/horseshoe-bend.jpg");
}

#projectThree {
    /* Photo licensed under CC0 Public Domain, taken by finepic Beat */
    background-image: url("../images/antelope-canyon-arizona-near-page.jpg");
}

#projectFour {
    /* Photo licensed under CC0 Public Domain, taken by Yinan Chen */
    background-image: url("../images/sunset-over-the-desert.jpg");
}

/* When links are hovered over, change their color */
header nav a:hover{
    color: var(--borderColor);
    border-color: var(--borderColor);
}

.card:hover{
    border-color: var(--hoverBorder);
    background-color: var(--hoverBorder)
}

.row nav a:hover {
    color: var(--headerBack);
    border-color: var(--headerBack);
}