:root {
    --headerBack: #1e4844;
    --headerText: #678482;
    --borderColor: #f69664;
    --hoverBorder: #d05e2b;
}

body {
    background: #d7e7df;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 1280px;
    margin: auto;
}

h2, h5 {
    font-size: 28px;
    color: var(--headerBack);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--headerBack)
}

/* Styling for header elements */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--headerBack);
    color: var(--headerText);
    padding: 4px 40px 4px 0;
}

h1 {
    font-size: 32px;
    background: var(--headerText);
    color: var(--headerBack);
    padding: 4px 8px 4px 24px;
    margin: 8px;
    margin-left: 0px;
}

nav a {
    color: var(--headerText);
    padding: 4px;
    margin-left: 4px;
}

/* Styling for figure and decorative background image */
figure {
    display: flex;
    justify-content: flex-end;
    height: 280px;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 40px;
    /* Photo licensed under CC0 Public Domain, taken by Lynn Greyling */
    background-image: url("../images/terracotta-roof-tiles.jpg");
    background-size: cover;
    background-position: center;
}

figure h2{
    align-self: flex-end;
    padding: 8px;
    background: var(--headerText);
}

/* Styling for each row in main body */

p {
    margin-bottom: 8px;
}

.card {
    background-color: var(--borderColor);
}

/* When links are hovered over, change their color */
header nav a:hover{
    color: var(--borderColor);
    border-color: var(--borderColor);
}

.card-text a:hover{
    color: var(--headerText);
}

.row nav a:hover {
    color: var(--headerBack);
    border-color: var(--headerBack);
}